if SHIELD_SPLIT34_LEFT

config ZMK_KEYBOARD_NAME
    default "Gdrik34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLIT34_RIGHT

config ZMK_KEYBOARD_NAME
    default "Gdrik34"

endif

if SHIELD_SPLIT34_LEFT || SHIELD_SPLIT34_RIGHT

config ZMK_SPLIT
    default y

endif
