#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10    // default: 10

#define SCRL_SPEED 300

#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/bt.h>
#include <behaviors.dtsi>
#include "zmk-helpers/helper.h"
#include "split34-labels.h"

&mmv {
    time-to-max-speed-ms = <450>;
    acceleration-exponent = <1>;
};

&msc {
    time-to-max-speed-ms = <600>;
    acceleration-exponent = <1>;
};

#define DEF 0
#define SYM 1
#define NAV 2
#define FKEYS 3

ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <225>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <130>;
    hold-trigger-on-release;
    hold-trigger-key-positions = <RIGHT_HAND_KEYS>;
    bindings = <&kp>, <&kp>;
)

ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <225>;
    quick-tap-ms = <175>;
    require-prior-idle-ms = <130>;
    hold-trigger-on-release;
    hold-trigger-key-positions = <LEFT_HAND_KEYS>;
    bindings = <&kp>, <&kp>;
)

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q          &kp W          &kp E         &kp R           &kp T                 &kp Y           &kp U       &kp I         &kp O         &kp P
                &hml LGUI A    &hml LSHFT S   &hml LCTRL D  &lt SYM F       &hml LALT G           &hmr RALT H     &lt SYM J   &hmr RCTRL K  &hmr RSHFT L  &hmr RGUI ESC
                &kp Z          &kp X          &kp C         &kp V           &kp B                 &kp N           &kp M       &kp COMMA     &kp DOT       &kp TAB
                                                            &studio_unlock  &lt NAV SPACE         &lt NAV SPACE   &none
            >;
        };

        sym_layer {
            bindings = <
                &kp EXCL   &kp AT   &kp HASH  &kp DLLR    &kp PRCNT      &kp CARET  &kp AMPS   &kp ASTRK  &kp PIPE   &kp BSLH
                &kp EQUAL  &kp LT   &kp LBRC  &kp LPAR    &kp LBKT       &kp GRAVE  &kp SEMI   &kp FSLH   &kp SQT    &kp MINUS
                &kp PLUS   &kp GT   &kp RBRC  &kp RPAR    &kp RBKT       &kp TILDE  &kp COLON  &kp QMARK  &kp DQT    &kp UNDER
                                              &bt BT_CLR  &mo FKEYS      &mo FKEYS  &bt BT_CLR
            >;
        };

        nav_layer {
            bindings = <
                &kp N1          &kp N2          &kp N3  &kp N4        &kp N5                &kp N6    &kp N7    &kp N8  &kp N9      &kp N0
                &trans          &trans          &trans  &trans        &trans                &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT   &kp ESC
                &kp C_BRI_DEC   &kp C_BRI_INC   &none   &kp C_VOL_DN  &kp C_VOL_UP          &kp F11   &kp F12   &trans  &trans      &trans
                                                        &bootloader   &kp BSPC              &kp RET   &bootloader
            >;
        };

        fkeys_layer {
            bindings = < 
                &kp F1  &kp F2  &kp F3  &kp F4      &kp F5          &msc MOVE_Y(SCRL_SPEED)   &mkp LCLK       &mkp MCLK       &mkp RCLK         &msc MOVE_X(-SCRL_SPEED)
                &trans  &trans  &trans  &mkp LCLK   &trans          &mmv MOVE_LEFT            &mmv MOVE_DOWN  &mmv MOVE_UP    &mmv MOVE_RIGHT   &mkp LCLK
                &kp F6  &kp F7  &kp F8  &kp F9      &kp F10         &msc MOVE_Y(-SCRL_SPEED)  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT   &msc MOVE_X(SCRL_SPEED)
                                        &sys_reset  &trans          &trans                    &sys_reset
            >;
        };
    };
};
